<section>
    Hello, This iS My First Shopify Store.
    Let's Build A Shopify Store!
</section>
{% schema %}
{
    "name": "Banner",
     "settings": [],
     "presents": [
        {
        "name": "banner"
    }
     ]
}
{% endschema %}